.gitUser-Intro {
  background-image: url("./../assets/backgroundImage.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 550px;
  /*margin-left: 3px*/
  margin-left: -9%;
  margin-right: -9%;
  text-align: right;
  color: teal;
  /*margin: 3%;*/
  /*height: 500;
  width: 1058;*/
}
